.header {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        padding: 3.5vh 2vw;
        // transition: .3s;
        &:hover {
            background-color: rgba(0, 0, 0, .90);
            cursor: pointer;
        }
        .left-div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 80%;
            padding-left: 3rem;
            .header-logo-container {
                width: 60%;
                .header-logo {
                    width: 80%;
                    min-width: 264px;
                    max-width: 440px;
                }
            }
            .reserve-button {
                width: 260px;
            }
            .left-div-blank {
                width: 40px;
            }
        }
        
        .right-div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            .right-div-blank {
                width: 25px;
            }
            .dmc-button {
                width: 15%;
            } 
            .hamburger {
                display: flex;
                flex-direction: column;
                height: 15px;
                justify-content: space-between;
                .ham-line {
                    width: 50px;
                    height: 1px;
                    background-color: white;
                }
            }  
        }
        
    }
    .mobile-container {
        display: none;
    }
}


@media screen and (max-width: 1125px) {
    .header {
        .header-container {
            .left-div {
                width: 140%;
                .reserve-button {
                    width: 165px;
                } 
            }
            .right-div {
                .right-div-blank {
                    display: none;
                }
            }
        }
    }

}

@media screen and (max-width: 975px) {
    .header {
        .header-container {
            .left-div {
                .reserve-button {
                    width: 100px;
                }
            }
     
        }
    }
    

}

@media screen and (max-width: 825px) {
    .header {
        .header-container {
            padding: 3.5vh 2vw 1vh 2vw;
        }
        .mobile-container {
            padding: 0 2vw;
            display: block;
            width: 100%;
            .reserve-button-mobile {
                width: 95px;
            }
        }
        .left-div {
            .reserve-button {
                display: none;
            }
        }
    }
}