.header {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left-div {
        width: 30%;
        display: flex;
        align-items: center;
        margin-left: 3em;
        .header-logo {
            width: 90%;
        }
    }
    .center-div {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        .reserve-button {
            height: 35px;  
        }
    }
    .right-div {
        display: flex;
        flex-direction: row;
        width: 30%;
        justify-content: end;
        align-items: center;
        margin-right: 5em;
        .dmc-button {
            height: 1em;
        }
        .hamburger {
            display: flex;
            flex-direction: column;
            height: 15px;
            justify-content: space-between;
            padding-left: 6em;
            .ham-line {
                width: 50px;
                height: 1px;
                background-color: white;
            }
         }  
    }
    
}

.sub-header {
    display: none;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, .5);
    .dmc-button {
        height: 1em;
        display: none;
    }
    .reserve-button {
        height: 15px;
    }
}

@media screen and (max-width: 1200px) {
    .header {
        .left-div {
            width: 40%;
        }
        .center-div {
            width: 20%;
            .reserve-button {
                height: 20px;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .header {
        .left-div {
            width: 50%;
        }
        .center-div {
            width: 10%;
            .reserve-button {
                height: 15px;
            }
        }
        .right-div {
            .hamburger {
                padding-left: 3em;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .header {
        .center-div {
            display: none;
            .reserve-button {
                display: none;
            }
        }
    }
    .sub-header {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 650px) {
    .header {
        .center-div {
            display: none;
            .reserve-button {
                display: none;
            }
        }
        .right-div {
            .dmc-button {
                display: none;
            }
        }
    }
    .sub-header {
        display: flex;
        flex-direction: row;
        padding-left: 3em;
        .dmc-button {
            display: block;
        }
    }
}

