.header-container {
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    transition: .3s;
    &:hover {
        background-color: rgba(0, 0, 0, .90);
        cursor: pointer;
    }
    .header-logo-container {
        width: 30%;
        .header-logo {
            width: 95%;
        }
    }

    .reserve-button {
        width: auto;
    }
    .right-div {
        display: flex;
        flex-direction: row;
        width: 25%;
        align-items: center;
        justify-content: space-between;
        .dmc-button {
            width: 25%;
        } 
        .hamburger {
            display: flex;
            flex-direction: column;
            height: 15px;
            justify-content: space-between;
            .ham-line {
                width: 50px;
                height: 1px;
                background-color: white;
            }
        }  
    }
    
}

@media screen and (max-width: 1200px) {
    .header-container {
        .reserve-button {
            width: 165px;
        } 
    }

}