

.section3 {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .gallery-img {
       width: 100%;
       position: relative;
    }
    .buttons {
        z-index: 1;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: white;
        .slider-legend {
            margin-bottom: -50%;
            color: white;
        }
        .back-button {
            margin-left: 3rem;
            &:hover {
                cursor: pointer;
            }
        }
        .next-button {
            margin-right: 3rem;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .slide {
        opacity: 0;
        transform: ease 1s;
    }
    .slide.active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1);
    }
}
